body {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./images/scott-webb-hDyO6rr3kqk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

section::before {
    /* Overlay with background image */
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url('./images/scott-webb-hDyO6rr3kqk-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.3; /* Adjust the opacity as needed */
    z-index: -1;
}

/* Adjust the background color of sections for better readability */
section {
    background-color: rgba(255, 255, 255, 0.6); /* Adjust the RGBA values and opacity as needed */
}


.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #f5eae1;
    padding: 10px 0;
    
    display: flex;
    align-items: center; /* Center items vertically within the header */
    justify-content: space-between; /* Distribute items with space in between */
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    border: 9px solid #DEB;
    border-radius: 30%;
    max-width: 150px;
    margin-right: 20px; /* Add margin for spacing between image and name */
}

h1 {
    margin: 0; /* Remove default margin to prevent unwanted spacing */
}

nav {
    position: absolute;
    top: 0;
    right: 0;
}

nav ul {
    list-style: none;
    margin: 10;
    margin-right: 10px;
    padding: 0;
    text-align: right; /* Align the text to the right */
}

nav li {
    display: inline;
    margin-left: 20px; /* Adjust the spacing as needed */
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

section {
    padding: 60px 0;
}

section h2 {
    color: #333;
}

#contact {
    padding: 90px 0; /* Adjust padding as needed */
}

#contact .social-icons {
    display: flex;
    align-items: center;
    margin-top: 30px; /* Adjust spacing between email and social icons */
}

#contact .social-icons a {
    color: #333;
    margin-right: 65px; /* Adjust spacing between icons */
    font-size: 1.5rem; /* Adjust icon size as needed */
}

/* Tooltip Styles */
[data-tooltip] {
    position: relative;
    cursor: pointer;
}

[data-tooltip]:hover::before {
    content: attr(data-tooltip);
    position: absolute;
    top: -60px; /* Adjust the distance above the icon */
    left: 50%;
    transform: translateX(-50%);
    padding: 8px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 1;
}

[data-tooltip]:hover::after {
    content: "";
    position: absolute;
    top: -8px; /* Adjust the distance above the icon */
    left: 50%;
    transform: translateX(-50%);
    border-style: solid;
    border-width: 8px 8px 0;
    border-color: #333 transparent transparent transparent;
    z-index: 1;
}

[data-tooltip]:hover::before,
[data-tooltip]:hover::after {
    opacity: 1;
}


footer {
    background-color: #f5eae1;
    padding: 20px 0;
    text-align: center;
}

@media screen and (max-width: 600px) {
    nav {
        position: static;
        text-align: center;
    }

    nav ul {
        display: flex;
        justify-content: space-between;
        margin: 0px;
    }

    nav li {
        display: block;
        margin: 10px 0;
    }
}



